body {
	background-image: url("../images/graffiti.jpg");
	background-repeat: no-repeat;
	background-size: auto;
}

header, .input {
	text-align: center;
}

header .needtitle, header .or, header .wanttitle {
	display: inline-block;
	margin: 20px 30px 0px 30px;
}

.needtitle {
	font-family: 'Neucha', cursive;
	font-size: 950%;
	font-weight: bolder;
	color: #86c67c;
	font-style: italic;
	text-shadow: 7px 7px 0px #000, 0px 0px 100px #fff;
}

.or {
	color: yellow;
	font-size: 450%;
	font-style: italic;
	text-shadow: 3px 3px 0px #000, 0px 0px 50px #fff;
	font-family: 'Grand Hotel', cursive;
}

.wanttitle {
	color: #e5acb6;
	font-size: 925%;
	font-family: 'Yellowtail', cursive;
	font-weight: lighter;
	text-shadow: 5px 5px 0px #000, 0px 0px 100px #fff;
}

.credit {
	margin: 0px auto 70px auto;
	color: yellow;
	font-size: 200%;
	font-family: 'Grand Hotel', cursive;
	text-shadow: 3px 3px 0px #000, 0px 0px 100px #fff;
	letter-spacing: 0.09em;
}

.input {
	margin: auto;
}

.input .textinput {
	padding: 5px;
}

.input button {
	display: inline-block;
	margin: 8px;
	border-radius: 7px;
}

.input .needbutton {
	background-color: #86c67c;
	font-weight: bold;
}

.input .wantbutton {
	background-color: #e5acb6;
	font-weight: bold;
}

.list {
	text-align: center;
	margin: 40px auto;
}

.need, .want {
	display: inline-block;
	text-align: center;
	width: 450px;
	box-shadow: 0px 0px 30px #fff;
	vertical-align: top;
}

.need {
	background-color: #86c67c;
	margin-right: 20px;
}

.want {
	background-color: #e5acb6;
}

.list ul {
	padding: 0px;
	margin: 0px auto;
	list-style: none;
}

.list ul li {
	background-color: #fff;
	padding: 1px;
	text-align: left;
	font-family: 'Gloria Hallelujah', cursive;
	font-size: 110%;
	font-weight: bold;
	color: #4c4c4c;
	margin-top: 5px;
	cursor: pointer;
}

.box {
	float: left;
	background-image: url("../images/box.png");
	height: 20px;
	width: 20px;
	margin: 6px 10px 0px 0px;
}

.done {
	float: left;
	background-image: url("../images/checked.png");
	height: 20px;
	width: 20px;
	margin: 6px 10px 0px 0px;
}

.linethrough {
	text-decoration: line-through;
}

.delete {
	float: right;
}