body {
	/*background-image: url("../images/needorwantbg.jpg");*/
	background-color: skyblue;
}

header, .input {
	text-align: center;
}

header .needtitle, header .or, header .wanttitle {
	display: inline-block;
	margin: 50px 30px;
}

.credit {
	margin-bottom: 50px;
}

.input {
	margin: auto;
}

.input .textinput {
	line-height: 
}

.input .textinput, .input .buttons {
	display: inline-block;
}

.input button {
	display: block;
}

.input .needbutton {
	margin-bottom: 6px;
}

.list {
	text-align: center;
	margin: 40px auto;
}

.need, .want {
	display: inline-block;
	text-align: center;
	width: 450px;
	background-color: white;
}

.need {
	padding: 20px 30px 500px 20px;
	background-image: url("../images/milk.jpg");
	background-repeat: no-repeat;
}

.want {
	padding: 20px 20px 500px 30px;
	background-image: url("../images/sportscar.jpg");
	background-repeat: no-repeat;
}

.list ul {
	padding: 0px;
	margin: 0px auto;
	list-style: square inside;
}

.list ul li {
	border: 1px solid black;
	background-color: pink;
	padding: 5px;
	text-align: left;
}

.done {
	text-decoration: line-through;
}