body {
	background-image: url("../images/graffiti.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}

header, .input {
	text-align: center;
}

header .needtitle, header .or, header .wanttitle {
	display: inline-block;
	margin: 20px 30px 0px 30px;
}

.needtitle {
	font-family: 'Neucha', cursive;
	font-size: 850%;
	font-weight: bolder;
	color: #86c67c;
	font-style: italic;
	text-shadow: 7px 7px 0px #000, 0px 0px 100px #fff;
}

.or {
	color: yellow;
	font-size: 400%;
	font-style: italic;
	text-shadow: 3px 3px 0px #000, 0px 0px 50px #fff;
	font-family: 'Grand Hotel', cursive;
}

.wanttitle {
	color: #e5acb6;
	font-size: 825%;
	font-family: 'Yellowtail', cursive;
	font-weight: lighter;
	text-shadow: 5px 5px 0px #000, 0px 0px 100px #fff;
}

.credit {
	margin: 0px auto 70px auto;
	color: yellow;
	font-size: 200%;
	font-family: 'Grand Hotel', cursive;
	text-shadow: 3px 3px 0px #000, 0px 0px 100px #fff;
	letter-spacing: 0.09em;
}

.input {
	margin: auto;
}

.input .textinput {
	padding: 5px;
}

.input button {
	display: inline-block;
	margin: 5px;
}

.input .needbutton {
	background-color: #86c67c;
	font-weight: bold;
}

.input .wantbutton {
	background-color: #e5acb6;
	font-weight: bold;
}

.list {
	text-align: center;
	margin: 40px auto;
}

.need, .want {
	display: inline-block;
	text-align: center;
	width: 450px;
	box-shadow: 0px 0px 30px #fff;
	border-radius: 10px;

}

.need {
	padding: 20px 30px 500px 20px;
	background-image: url("../images/milk.jpg");
	background-repeat: no-repeat;
	margin-right: 20px;
}

.want {
	padding: 20px 20px 500px 30px;
	background-image: url("../images/sportscar.jpg");
	background-repeat: no-repeat;
}

.list ul {
	padding: 0px;
	margin: 0px auto;
	list-style: square inside;
}

.list ul li {
	border-bottom: 1px solid black;
	background-color: #fff;
	padding: 2px;
	text-align: left;
	font-family: 'Gloria Hallelujah', cursive;
	font-size: 120%;
	color: #4c4c4c;
}

.done {
	text-decoration: line-through;
}